[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".bash/informative-git-prompt"]
	path = .bash/informative-git-prompt
	url = git://github.com/noirsoldats/bash-git-prompt.git
[submodule ".bash_autocomplete/symfony2-autocomplete"]
	path = .bash_autocomplete/symfony2-autocomplete
	url = git://github.com/KnpLabs/symfony2-autocomplete.git
