[user]
    name = __FULLNAME__
    email = __EMAIL__

[color]
    diff = auto
	status = auto
	branch = auto

[alias]
    mylog = log --pretty='%C(yellow)%h %Cgreen%cn %C(magenta)%cD %Creset%s' --author=__FULLNAME__
    co = checkout
    br = branch
    ci = commit
    st = status
    revert = checkout --
    unstage = reset HEAD --
    changes = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
    df = diff
    ds = diff --staged
    graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
    ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
    undo = reset --soft HEAD^
    permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply

[apply]
    whitespace = nowarn

[push]
	default = tracking

[pull]
	rebase = true

[branch]
	autosetuprebase = always

[diff]
    algorithm = patience

[core]
    excludesfile = ~/.gitignore_global